.landing-body{
	background-image: url("/static/music/img/restaurant_icons.png");
}

.landing-banner{
	font-size: 100px;
	text-align: center;
	color: white;
	padding-top: 80px;
	height:250px;
	background-color: #2C3E50;
	
}

.logout-msg{
	text-align: center;
}

.nav-search{
	height: 40px;
}

.main-search-bar{
	
}

.main-song-thumb{
	width: 100%;
}

.surprise-button{
	width : 300px;
}