{%extends "base.html"%}
{%block content%}
	<div style="margin-right:20px;"><h5 align = "right">Welcome {{user.username}}!</h5></div>
	<div class="container">
		<div class = "row">
			<div class = "col-sm-3"></div>
			<div class = "col-sm-6">
				<div class="form-group">
					<!--<label class="control-label" for="inputDefault">Play your favorite music now!</label>-->
					<input type="text" class="form-control main-search-bar" id="inputDefault">
				</div>
			</div>
		</div>

		<div class = "row">
			<h3>Play Now</h3>
			<hr>
			<div class = "col-sm-2">
				<img src="http://media.tumblr.com/tumblr_m7mcv5ClEp1qzxlbn.jpg" class = "main-song-thumb">
				<hr>
				<center>Hotel California</center>
				<hr>
			</div>
			<div class = "col-sm-2">
				<img src="http://media.tumblr.com/tumblr_m7mcv5ClEp1qzxlbn.jpg" class = "main-song-thumb">
				<hr>
				<center>Hotel California</center>
				<hr>
			</div>
			<div class = "col-sm-2">
				<img src="http://media.tumblr.com/tumblr_m7mcv5ClEp1qzxlbn.jpg" class = "main-song-thumb">
				<hr>
				<center>Hotel California</center>
				<hr>
			</div>
			<div class = "col-sm-2">
				<img src="http://media.tumblr.com/tumblr_m7mcv5ClEp1qzxlbn.jpg" class = "main-song-thumb">
				<hr>
				<center>Hotel California</center>
				<hr>
			</div>
			<div class = "col-sm-2">
				<img src="http://media.tumblr.com/tumblr_m7mcv5ClEp1qzxlbn.jpg" class = "main-song-thumb">
				<hr>
				<center>Hotel California</center>
				<hr>
			</div>
			<div class = "col-sm-2">
				<img src="http://media.tumblr.com/tumblr_m7mcv5ClEp1qzxlbn.jpg" class = "main-song-thumb">
				<hr>
				<center>Hotel California</center>
				<hr>
			</div>

		</div>
		<hr>
		<div class = "row">
			<div class = "col-sm-4"></div>
			<div class = "col-sm-4">
				<a href="#" class="btn btn-success surprise-button">Surprise Me</a>
			</div>
			<div class = "col-sm-4"></div>
		</div>
	</div>
{%endblock%}